<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>place</title>
    <link rel="stylesheet" href="/css/main.css">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
        .title {
            color: #ffff;
            font-family: "Montserrat", sans-serif;
            font-weight: bold;
        }
    </style>

</head>

<body>
    <div class="container">
        <br>
        <h1 class="title">Edit Place</h1>
        <form action="/places/<%= place.id %>?_method=PUT" method="POST">
            <%- include('_form_fields') %>

                <br>
                <a href="/" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Update</button>

        </form>
    </div>
</body>

</html>